.container{
  width: 60%;
  background: #FFF;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  margin: 10px auto 10px auto !important;
  min-height: 100vh;
}

.ql-toolbar.ql-snow{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #F3F3F3;
  border: none !important;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

.list-container {
  max-height: 200px; /* Set the maximum height for the container */
  overflow-y: auto; /* Add vertical scrollbar if needed */
}

.list-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item-container {
  display: flex;
}
.list-group-item{
  width: 350px;
}
/* 
.list-group-item {

} */

.role-text {
  margin-left: 10px; /* Adjust the margin as needed */
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align cards to the left */
}

.card {
  width: calc(25% - 10px); /* 25% width for each card with some spacing */
  margin: 0px 10px 10px 0px; /* Adjust as needed */
  border: 1px solid #ccc; /* Optional: Add a border for visual separation */
  box-sizing: border-box;
  padding: 10px; /* Optional: Add padding for card content */
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
